.our-rooms-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: "Merriweather", serif;
  margin-top: 8rem;
  margin-bottom: 8rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.our-rooms-container > .rooms-container {
  width: 100%;
  background-color: white;
}

.our-rooms-container > .rooms-container > .wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  row-gap: 1rem;
}

.our-rooms-container > .rooms-container > .wrapper > span {
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  letter-spacing: 0.1em;
  color: #a8a8a8a8;
}

.our-rooms-container > .rooms-container > .wrapper > h1 {
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
  font-weight: 700;
}

.our-rooms-container > .rooms-container > .wrapper > .rooms_container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
}

.our-rooms-container > .photos-container {
  width: 100%;
}

.our-rooms-container > .photos-container > .wrapper {
  display: flex;
  position: relative;
}

.our-rooms-container > .photos-container > .wrapper > img {
  width: 100%;
  object-fit: cover;
}

.our-rooms-container > .photos-container > .wrapper > .bullets-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  column-gap: 1rem;
}

.my-rooms-enter {
  opacity: 0;
}
.my-rooms-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

@media (min-width: 1024px) {
  .our-rooms-container {
    flex-direction: row;
  }
  .our-rooms-container > .rooms-container {
    width: 50%;
  }
  .our-rooms-container > .rooms-container > .wrapper > .container {
    max-height: 450px;
  }
  .our-rooms-container > .photos-container {
    width: 66.666667%;
  }
  .our-rooms-container > .photos-container > .wrapper > img {
    height: 600px;
  }
}
